* {
    primary: #cebdfe;
    primary-fixed: #e8ddff;
    primary-fixed-dim: #cebdfe;
    on-primary: #35275d;
    on-primary-fixed: #201047;
    on-primary-fixed-variant: #4c3e76;
    primary-container: #4c3e76;
    on-primary-container: #e8ddff;
    secondary: #cbc3dc;
    secondary-fixed: #e8def8;
    secondary-fixed-dim: #cbc3dc;
    on-secondary: #332e41;
    on-secondary-fixed: #1d192b;
    on-secondary-fixed-variant: #494458;
    secondary-container: #494458;
    on-secondary-container: #e8def8;
    tertiary: #efb8c9;
    tertiary-fixed: #ffd9e3;
    tertiary-fixed-dim: #efb8c9;
    on-tertiary: #492532;
    on-tertiary-fixed: #31101d;
    on-tertiary-fixed-variant: #633b49;
    tertiary-container: #633b49;
    on-tertiary-container: #ffd9e3;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #141218;
    on-surface: #e6e1e9;
    on-surface-variant: #cac4cf;
    outline: #938f99;
    outline-variant: #48454e;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e6e1e9;
    inverse-on-surface: #322f35;
    inverse-primary: #64558f;
    surface-dim: #141218;
    surface-bright: #3b383e;
    surface-container-lowest: #0f0d13;
    surface-container-low: #1c1b20;
    surface-container: #211f24;
    surface-container-high: #2b292f;
    surface-container-highest: #36343a;
}
