[Desktop Entry]
Type=Service
MimeType=image/*;
Actions=setAsWallpaper

[Desktop Action setAsWallpaper]
Name=Set awww As Wallpaper
Icon=background
Exec=/bin/sh ~/.local/bin/wall "%f"
